@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --dark-blue: #0A122A;
    --white: #ffffff;
    --yellow: #FEC601;
    --green: #05F140;
}
/*Type Selectors*/
body{
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
    padding-top: 50px;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

img{
    max-width: 100%;
    object-fit: cover;
    height: 100px;
}

/*Type Selectors*/
h1{
    color: var(--white);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 40px;
}

/*ID Selectors*/
#calculator-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80%;
    padding: 30px;
    border-radius: 45px;
    border: 3px solid white;
}

#buttons-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    place-items: center;
}

#display{
    background-color: white;
    height: 100px;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark-blue);
    overflow-x: auto;
    white-space: nowrap;
    direction: ltr;
    text-align: left;
    padding: 0 15px;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#display::-webkit-scrollbar {
    display: none;
}

#calculator-logo{
    width: 40px;
    height: 40px;
    fill: var(--white);
}

#subtract{
    font-size: 4rem;
}

#backspace-icon{
    fill: white;
    width: 58%;
    height: 80%;
}
/*Class Selectors*/
.number-button,.operator-button,.special-operator-button,.decimal-button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--white);
    border: none;
}

.operator-button,.special-operator-button{
    background-color: var(--yellow);
    font-weight: 700;
    font-size: 2rem;
}

@media screen and (min-width: 420px) {
    #calculator-container{
        width: 55%;
    }
    h1{
        margin-bottom: 0;
    }
    .number-button,.operator-button,.special-operator-button,.decimal-button{
        width: 10vw;
        height: 10vw;
        font-size: 3rem;
    }
}

@media screen and (max-width: 390px) {
    #calculator-container{
        width: 90%;
    }
}

@media screen and (max-height: 900px) and (min-width: 1000px) {
    #calculator-container{
        height: 90%;
        padding-bottom: 10px;
    }
    .number-button,.operator-button,.special-operator-button,.decimal-button{
        width: 9.5vw;
        height: 7vw;
        font-size: 3rem;
    }
    body{
        padding: 0;
    }
    #display{
        font-size: 3.5rem;
    }
}
